<div class="content">
    <div fxLayout="row" fxFlex="100%" fxFlexFill>
        <div fxLayout="column" fxFlex="35%" class="loading-container" fxFlexFill>
            <div class="loading-overlay" *ngIf="isLoading">
                <mat-progress-spinner
                class="loader"
                [color]="'primary'"
                [mode]="'indeterminate'"
                >
                </mat-progress-spinner>
            </div>
            <mat-card class="full-height">
                <mat-card-header class="header-title">
                    <mat-card-title class="header-title">Register Restaurant</mat-card-title>
                    <mat-card-subtitle>Create New Restaurant</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form autocomplete="off" name="form" #f="ngForm" novalidate>
                        <mat-form-field class="full-width">
                            <input matInput name="name" #name="ngModel" placeholder="Restaurant Name" [(ngModel)]=restuarantModel.name required>
                            <mat-error *ngIf="f.submitted && name.errors?.required">Restaurant name is required...</mat-error>
                        </mat-form-field>
                              
                        <mat-form-field class="full-width">
                            <input matInput name="address" #address="ngModel"placeholder="Restaurant Address" [(ngModel)]=restuarantModel.address required>
                            <mat-error *ngIf="f.submitted && address.errors?.required">Restaurant address is required...</mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput name="contact" #contact="ngModel" placeholder="Contact No" 
                            pattern="^[0-9]+$" minlength="9" maxlength="9" [ngModel]="restuarantModel.contact" required> 
                            <span matPrefix>+94&nbsp;</span>
                            <mat-error *ngIf="f.submitted && contact.errors?.required">Contact number is required...</mat-error>
                            <mat-error *ngIf="!contact.errors?.minlength && contact.errors?.pattern">Only numbers are allowed ...</mat-error>
                            <mat-error *ngIf="contact.errors?.minlength">Contact Number should be 9 digits ...</mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput name="user" #user="ngModel"  [(ngModel)]="restuarantModel.user" placeholder="User Name" required>
                            <mat-error *ngIf="f.submitted && user.errors?.required">User name is required...</mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input name="e_mail" type="email" #e_mail="ngModel" matInput placeholder="E-Mail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" 
                            [(ngModel)]="restuarantModel.email" required>
                            <mat-error *ngIf="f.submitted && e_mail.errors?.required">Email is required...</mat-error>
                            <mat-error *ngIf="!e_mail.errors?.required && e_mail.errors?.pattern">Not a valid E-Mail...</mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password" name="password" #password="ngModel"
                            [(ngModel)]="restuarantModel.password"
                            pattern="^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{1,100}" minlength="5"
                            [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="f.submitted && password.errors?.required">Password is required...</mat-error>
                            <mat-error *ngIf="password.errors?.minlength">Password must have at least 5 characters...</mat-error>
                            <mat-error *ngIf="!password.errors?.minlength && password.errors?.pattern">Password must contain at least 1 Upper case letter, 1 Lower case letter and a number...</mat-error>
                        </mat-form-field>
                        <mat-card-actions>
                            <button class="full-width button-submit" type="submit"
                            (click)="onSubmitButtonClick()" mat-button>Create Restaurant</button>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxLayout="column" fxFlex="65%" style="background-color: gray; overflow: hidden;" fxFlexFill>
            <img class="food-background" src="../../../../assets/img/Restaurent/Register/food-background.JPG"/>
        </div>
    </div>
</div>