/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/
body{
  background-color: lightgrey;
}
.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.content {
  height: 100vh;
  min-height: 100%;
  padding: 2px;
  position: relative;
}

.full-height{
  height: 100vh;
}

.full-width{
  width: 95%;
}

.food-background{
  height: 100vh;

}

mat-form-field.mat-form-field {
  font-size: 14px;
}

.button-submit{
  background-color: #E65100 !important;
  
}

.header-title{
  color: blue;
}


.loading-overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;
  color:white;
  padding-top: 42vh;
}

.loading-container{
  position: relative;
}

.loader{
  margin: auto;
}

table {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.side-nav{
  width: 18%;
}

.side-selected{
  background-color: lightgray;
}

.header-ribbon{
  background-color: #E65100;
  color: white;
  padding: 5px;
  opacity: 1 !important;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.content-restaurant{
  height: 98vh;
  min-height: 100%;
  position: relative;
  background-image: url(../img/Restaurent/Register/foodbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
}

.restaruant-card{
  height: 95vh;
  opacity: 0.9;
  margin: 2%;
  background-color: white;
  padding: 10px;
  
}
.header-sidebar-ribbon{
  background-color: #F5F5F5;
  color: darkslategrey;
  padding: 5px;
  opacity: 1 !important;
  height: 18vh;
}
.line-ribbon{
  background-color: #E0E0E0;
  color: black;
  padding: 5px;
  opacity: 1 !important;
  height: 5vh;
}

.header-sidebar-right-ribbon{
  background-color: #F5F5F5;
  color: darkslategrey;
  padding: 5px;
  opacity: 1 !important;
  height: 18vh;
}
.line-right-ribbon{
  background-color: #BDBDBD;
  color: black;
  padding: 5px;
  opacity: 1 !important;
  height: 5vh;
}

.slide-content{
  padding: 10px;
  border:grey solid 1px;
  height: 72vh;
  overflow-y: auto;
}

.table-header{
  background-color: #455A64;
  color: white;
  font-size: 14px;
}

.slide-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading-overlay-home{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:lightgray;
  z-index:9999;
  color:white;
  padding-top: 42vh;
  opacity: 0.3;
}

.logo-menu{
  width: 43%;
}