/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/

.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.content {
  height: 100vh;
  min-height: 100%;
  position: relative;
}

.full-height{
  height: 100vh;
}

.full-width{
  width: 100%;
  padding: 2px;
}

.food-background{
  height: 100vh;
  width: 100%; 
}

mat-form-field.mat-form-field {
  font-size: 14px;
}

.button-submit{
  background-color: lightblue !important;
}

.header-title{
  color: blue;
}


.loading-overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;
  color:white;
  padding-top: 42vh;
}

.loading-container{
  position: relative;
}

.loader{
  margin: auto;
}

table {
  width: 100%;
}