<div class="content">
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened fixedTopGap="56" class="side-nav">
            <div class="header-sidebar-ribbon">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;padding-left: 1%;
                    padding-top: 2%;
                    padding-bottom: 2%;">
                        <img class="logo-menu" src="../../assets/img/logo/logo.png">
                    </div>
                </div>
            </div>
            <div class="line-ribbon">
                <span style="padding-left: 10px; padding-top:5px; padding-bottom:5px; ">
                    Restaurant Name
                </span>
            </div>

            <mat-nav-list>
                <a mat-list-item [ngClass]="{'side-selected': nav.tab == activeTab.tab}" (click)="onChangeTab(nav)"
                    *ngFor="let nav of fillerNav">
                    <mat-icon aria-hidden="false" aria-label="nav.title">{{nav.icon}}</mat-icon> &nbsp;
                    {{nav.label}}
                </a>
            </mat-nav-list>
            <mat-toolbar class="slide-footer">Logout &nbsp;
                <mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon>
            </mat-toolbar>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-card style="height:98vh; padding: 0">
                <div class="header-sidebar-right-ribbon">
                    <h3 style="padding-left: 10px; padding-top:5px; padding-bottom:5px; ">
                        {{activeTab.title}}
                    </h3>
                </div>
                <div class="line-right-ribbon">
                    <span style="padding-left: 10px; padding-top:5px; padding-bottom:5px; ">
                        {{activeTab.description}}
                    </span>
                </div>

                <mat-card-content>
                    <div class="slide-content">
                        <add-user *ngIf="activeTab.tab == sideBarTabs.ADD_USER"></add-user>
                        <app-table-list *ngIf="activeTab.tab == sideBarTabs.ADD_MENU"></app-table-list>
                        <pending-requests *ngIf="activeTab.tab == sideBarTabs.PENDING_REQUESTS"></pending-requests>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>